<header id="header">
  <div id="logo-group">
    <span id="logo">Street Lights Management Application</span>
  </div>
  <div class="pull-right">
    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right">
      <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->

    <!-- fullscreen button -->
    <div id="fullscreen" class="btn-header transparent pull-right">
      <span> <a (click)="launchFullscreen()" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
    </div>
    <!-- end fullscreen button -->

  </div>
</header>