<aside id="left-panel">
  <nav>
    <ul>
      <li class="active">
        <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
        <ul>
          <li class="active">
            <a href="/" title="Dashboard"><span class="menu-item-parent">Analytics Dashboard</span></a>
          </li>
          <li class="">
            <a href="/about" title="About"><span class="menu-item-parent">About</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>